<nav class="bg-darkBlue-900">
  <div
    class="max-w-screen flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="images/logo.svg" class="h-4" alt="Tractian Logo" />
    </a>
    <button
      data-collapse-toggle="navbar-solid-bg"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-50 rounded-lg bg-darkBlue-200 md:hidden hover:bg-darkBlue-300 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-solid-bg"
      (click)="toggleNavbar()"
      aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div
      [class.hidden]="isNavbarCollapsed"
      class="w-full md:block md:w-auto"
      id="navbar-solid-bg">
      <ul
        class="flex flex-col font-medium mt-4 rounded-lg bg-darkBlue-900 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">
        @for (menu of menus; track menu;) {
        <li>
          <a
            (click)="setActiveMenu(menu.link)"
            [routerLink]="menu.link"
            [ngClass]="activeMenu === menu.link ? 'bg-darkBlue-300' : ''"
            class="flex rounded-sm smx:mb-2 text-xs w-full md:w-28 md:justify-around md:justify-items-center text-center px-2 py-2.5 font-inter rounded bg-darkBlue-200 hover:bg-darkBlue-300 text-gray-50"
            aria-current="page"
            ><img
              src="images/unit.svg"
              class="text-xs smx:mr-2"
              alt="Tractian Logo" />
            {{ menu.title }} Unit</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
