<ul class="list__view" #virtual_list>
  <ng-container #vcr></ng-container>
</ul>

<ng-template #templateHtml let-item>
  <li
    class="list__item"
    [ngStyle]="{
      'padding-left': !!item.node?.space ? (item.node.space * 16) + 'px' : '0px',
    }">
    <div
      class="w-full min-h-full bg-gray-50 hover:bg-gray-100 hover:border hover:border-gray-200"
      data-accordion="collapse">
      <h2>
        <button
          #btnP
          (click)="toggleActiveItem(item.node, item.index)"
          type="button"
          class="flex items-center justify-start w-full p-x-1 rtl:text-right text-gray-900 font-normal focus:ring-4 focus:ring-gray-200 gap-3">
          <div
            #boxC
            class="flex row justify-start items-center z-10 bg-gray-100">
            <svg-icon
              [class.item__has__space]="!showArrow(item.node)"
              *ngIf="!isSensor(item.node)"
              class="rotate-0 mr-1"
              src="assets/down.svg"></svg-icon>
            <svg-icon
              *ngIf="!!item.node?.type"
              [src]="icon(item.node)"></svg-icon>
          </div>
          <span
            #txtC
            [class.animate-sideways]="
              btnP['offsetWidth'] <
              txtC['offsetWidth'] + boxC['offsetWidth'] + 8
            "
            class="text-justify text-nowrap z-0"
            >{{ item.node?.name }}</span
          >
        </button>
      </h2>
    </div>
  </li>
</ng-template>
