<ul class="list__view" #virtual_list>
  <ng-container #vcr></ng-container>
  @if(qtdItems === 0) {
  <div>
    <p class="text-center text-gray-500 text-sm font-medium font-inter">
      Nenhum ativo encontrado
    </p>
  </div>
  }
</ul>

<ng-template #templateHtml let-item>
  <li
    (click)="toggleActiveItem(item.node, item.index)"
    class="list__item"
    [ngStyle]="{
      'visibility': item.node === null ? 'hidden' : 'visible',
    }">
    <div
      class="w-full min-h-full bg-gray-50 hover:bg-gray-100 hover:border hover:border-gray-200">
      <h2>
        <button
          #btnP
          type="button"
          class="flex items-center justify-start w-full p-x-1 rtl:text-right text-gray-900 font-normal gap-3">
          <div
            #boxC
            [ngStyle]="{
              'min-width':calcSpace(item.node),
              'display': 'flex',
              'justify-content': 'flex-end',
            }"
            class="flex row justify-start items-center z-10 bg-gray-100">
            <svg-icon
              [class.item__has__space]="!showArrow(item.node)"
              *ngIf="!isSensor(item.node)"
              class="rotate-0 mr-1"
              src="assets/down.svg"></svg-icon>
            <svg-icon
              *ngIf="!!item.node?.type"
              [src]="icon(item.node)"></svg-icon>
          </div>
          <span
            #txtC
            [class.animate-sideways]="
              btnP['offsetWidth'] <
              txtC['offsetWidth'] + boxC['offsetWidth'] + 8
            "
            class="text-justify text-nowrap z-0 flex row items-center gap-4"
            >{{ item.node?.name }}
            @if (item.node?.sensorType === 'energy'){
            <svg-icon
              *ngIf="item.node?.type === 'SENSOR'"
              class="rotate-0 mr-1"
              [class.icon__red]="item.node?.status === 'alert'"
              [class.icon__green]="item.node?.status === 'operating'"
              src="assets/bolt.svg"></svg-icon>
            } @if (item.node?.status === 'alert') {
            <svg-icon
              *ngIf="
                item.node?.type === 'SENSOR' || item.node?.status === 'alert'
              "
              class="rotate-0 mr-1"
              [class.icon__red]="item.node?.status === 'alert'"
              [class.icon__green]="item.node?.status === 'operating'"
              src="assets/ellipse.svg"></svg-icon>
            }
          </span>
        </button>
      </h2>
    </div>
  </li>
</ng-template>
