:host {
  display: block;

  .list__view {
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    margin-inline: 8px;


  }

  .list__item {
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;

    div {
      h2 {
        background-color: inherit !important;

        button {
          background-color: inherit !important;
          margin-left: -1px;

          div {
            background-color: inherit !important;
            padding-inline: 4px;
            z-index: 10;
          }
        }
      }
    }
  }

  .item__has__space {
    visibility: hidden;
  }
}