<div
  class="min-h-full max-w-screen max-h-screen p-6 bg-gray-50 border border-gray-350 mx-2 my-2 rounded-lg shadow">
  <app-header [title]="company()?.name"> </app-header>
  <section
    class="flex row justify-between items-stretch px-2 py-1 smx:mx-auto smx:mt-4 smx:max-w-full smx:w-full smx:flex-col">
    <div
      class="lg:w-4/12 md:w-6/12 bg-white border border-gray-200 rounded-sm mt-3 smx:w-full md:mr-2">
      <app-form></app-form>
      <app-virtual-list [items]="selectedChields()"></app-virtual-list>
    </div>
    <app-details
      class="container__height lg:w-8/12 md:w-6/12 bg-white border border-gray-200 rounded-sm mt-3 smx:w-full"></app-details>
  </section>
</div>
