<div
  class="min-h-full max-w-screen max-h-screen p-6 bg-gray-50 border border-gray-350 mx-2 my-2 rounded-lg shadow">
  <app-header [title]="company()?.name"> </app-header>
  <section
    class="flex row justify-between items-stretch px-2 py-1 smx:mx-auto smx:mt-4 smx:max-w-full smx:w-full smx:flex-col">
    <div
      class="lg:w-4/12 md:w-6/12 bg-white border border-gray-200 rounded-sm mt-3 smx:w-full md:mr-2">
      <app-form></app-form>
      <app-virtual-list></app-virtual-list>
    </div>
    <app-details
      class="container__height lg:w-8/12 md:w-6/12 bg-white border border-gray-200 rounded-sm mt-3 smx:w-full"></app-details>
  </section>
</div>

@if (isLoading$ | async) {
<!-- } @else { @for (company of companies$ | async; track company;) { -->
<!-- <div
  id="accordion-color"
  data-accordion="collapse"
  data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white">
  <h2 id="accordion-color-heading-{{ company.id }}">
    <button
      type="button"
      (click)="toggleAccordion(company.id)"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
      attr.data-accordion-target="#accordion-color-body-{{ company.id }}"
      aria-expanded="true"
      attr.aria-controls="accordion-color-body-{{ company.id }}">
      <span>{{ company.name }}</span>
      <svg
        data-accordion-icon
        class="w-3 h-3 rotate-180 shrink-0"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
      </svg>
    </button>
  </h2>
  <div
    id="accordion-color-body-{{ company.id }}"
    [class.hidden]="showAccordion !== company.id"
    attr.aria-labelledby="accordion-color-heading-{{ company.id }}">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      @for (children of company.children; track children;) {
      <p class="mb-2 text-gray-500 dark:text-gray-400">
        {{ children.name }}
      </p>
      } @empty {
      <div>No found...</div>
      }
    </div>
  </div>
</div> -->
<!-- } @empty {
<div>No company found...</div>
} -->
}
